<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' /> 
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <dl>
      
      <dt>sensor</dt>
      <% if (data.sensorDurationHours) { %>
        <dd>
        loopt af <%= moment((moment() + moment.duration(data.sensorDurationHours))).format('dddd H:mm') %>
        </dd>
        <dt></dt><strong><%= data.lastSG.sg %> <%= data.bgUnits %> ,</strong></dt>
        <dd></dd><%= moment(data.lastSG.datetime).fromNow(); %></dd>
        <dt>trend</dt>
        <dd><%= data.lastSGTrend %></dd>  
        <dt>calibratie</dt>
        <dd>vóór <%= moment(moment() + moment.duration(data.timeToNextCalibHours, 'hours')).format('k:mm') %></dd>
      <% } else { %>
        <dd>is afgelopen</dd>
      <% } %>
    </dl>
    <!-- TODO: we can have different limit per time interval -->
    <% var maxValue = 400,
           hiLimit = data.limits[0].highLimit,
           loLimit = data.limits[0].lowLimit; %>
    <svg class="graph" viewbox="0 0 <%= data.sgs.length %> <%= maxValue %>" preserveAspectRatio="none">
      <g transform=" translate(0 <%= maxValue %>), scale(1 -1)">
      <line x1="0" y1="<%= hiLimit %>" y2="<%= hiLimit %>" x2="<%= data.sgs.length %>" stroke="orange" />
      <line x1="0" y1="<%= loLimit %>" y2="<%= loLimit %>" x2="<%= data.sgs.length %>" stroke="red" />
      <%  var d = '', lastVal = 0;
          for (var i = 0; i < data.sgs.length; i++) {
            var val = data.sgs[i].sg;
            if (val) {
              d += (lastVal ? 'L' : 'M') + i + ' ' + val + ' ';
            }
            lastVal = val;
          }%>  
      <path d="<%= d %>" stroke="black" fill="none" vector-effect="non-scaling-stroke" stroke-width="2" />
      </g>
    </svg>
    <script>
      console.log(JSON.parse('<%- JSON.stringify(data,2) %>'));
    </script>
  </body>
</html>
